*{
    margin:0px;
    padding:0px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    background-color: blue;
}

.flex-container > div {
    margin: 10px;
    text-align: center;
    background-color: transparent;
    font-size: 20px;
}

div a{
    text-decoration: none;
    font-Size:14pt;
    color:white;
}

button{
    background-color: red;
    border-radius: 15px;
    height:30px;
    padding:0px 5px;
    margin:0px;
    display: inline-block;
}

button a{
    color: black;
}



nav ul{
    list-style-type: none;
    background-color: blue;
    padding: 0px;
    margin: 0px;
    horiz-align: center;
    overflow: hidden;
    justify-content: space-between;
    display: inline-block;
}

nav ul a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

nav li{
    display: inline-block;
    background-color: transparent;
    width:140px;
}

nav li:hover{
    font-weight:700;
}
/*
.navbar li{
    width:120px;



img{
    width: 120px;
}
 */