*{
    margin:0px;
    padding:0px;
}

video{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 1420px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    background-color: transparent;
}

.flex-container > div {
    text-align: center;
    background-color: transparent;
    font-size: 20px;
}

div a{
    text-decoration: none;
    font-Size:14pt;
    color:white;
}

button{
    position: relative;
    top: -20px;
    left: -100px;
    background-color: red;
    border-radius: 15px;
    height:30px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

button a{
    color: black;

}

nav ul{
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
    justify-content: space-between;
    display: inline-block;

}

nav ul a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
}

nav li{
    display: inline-block;
    background-color: transparent;
    padding:5px;
    /* width: 140px; verwijderd
    anders kwam het 3e li-item in een witte wolk
    en was dat item bijna onzichtbaar*/
}

nav li:hover{
    font-weight:700;
}

